* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(95deg, #5347ff, #7e64af);
  height: 100vh;
}

img {
  width: 100px;
}

.memory-game {
  position: relative;
  width: 650px;
  height: 650px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}

.memory-card {
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 8px;
  border: 5px solid#381f24;
  background: #ff4747;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/*response for Iphone*/

@media only screen and (max-width: 500px) {
  .memory-game {
    width: 250px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .front-face,
  .back-face {
    padding: 5px;
  }
}
