@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, tomato, grey);
  background-attachment: fixed;
}

h3 {
  text-align: center;
  font-family: "Syne Mono", monospace;
  margin: 3rem;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  grid-gap: 0.3rem;
  justify-content: center;
  width: 400px;
}

.image {
  border: 2px solid #fff;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.no-click {
  cursor: not-allowed;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grid {
    display: flex;
    justify-content: center;
  }
}
